doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Everything

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cloud Everything
        h3 For Fun And Profit

      section
        h2 Cloud Services
        br
        ul.threeWay
          li
            h3 Software
            abbr SaaS
          li
            h3 Platform
            abbr PaaS
          li
            h3 Infrastructure
            abbr IaaS

      section
        h2 SaaS
        ul
          li Code hosting
          li Development environments
          li Continuous integration
          li Quality analysis
          li Testing tools
          li Monitoring/Analytics

      section
        h2 Code Hosting
        ul.bullet.in-place-transition
          li
            h3 Github
            img(src='images/github.png').screenshot

          li
            h3 Bitbucket
            img(src='images/bitbucket.png').screenshot

      section
        h2 IDEs
        ul.bullet.in-place-transition
          li
            h3 Cloud9
            img(src='images/cloud9.png').screenshot
          li
            h3 Nitrous.IO
            img(src='images/nitrous.png').screenshot
          li
            h3 CodeAnywhere
            img(src='images/codeanywhere.png').screenshot

      section
        h2 Continuous Integration
        ul.bullet.in-place-transition
          li
            h3 Cloudbees
            img(src='images/cloudbees.png').screenshot

          li
            h3 Travis CI
            img(src='images/travis.png').screenshot

          li
            h3 Wercker
            img(src='images/wercker.png').screenshot

          li
            h3 Snap CI
            img(src='images/snap.png').screenshot

      section
        h2 Quality Analysis
        ul.bullet.in-place-transition
          li
            h3 Code Climate
            img(src='images/codeclimate.png').screenshot
          li
            h3 Coveralls
            img(src='images/coveralls.png').screenshot
          li
            h3 Gemnasium
            img(src='images/gemnasium.png').screenshot

      section
        h2 Testing Tools
        ul.bullet.in-place-transition
          li
            h3 SauceLabs
            img(src='images/saucelabs.png').screenshot
          li
            h3 Browserstack
            img(src='images/browserstack.png').screenshot
          li
            h3 BlazeMeter
            img(src='images/blazemeter.png').screenshot

      section
        h2 Monitoring
        ul.bullet.in-place-transition
          li
            h3 New Relic
            img(src='images/newrelic.png').screenshot
          li
            h3 Google Analytics
            img(src='images/googleanalytics.png').screenshot
          li
            h3 Clicky
            img(src='images/clicky.png').screenshot

      section
        h2 PaaS
        ul
          li Deployment environment
          li Datastore hosting
          li Runtime components

      section
        h2 Deployment environment
        ul.bullet.in-place-transition
          li
            h3 Heroku
          li
            h3 Azure
          li
            h3 Google App Engine
          li
            h3 Github Pages
      section
        h2 Database hosting
        ul.bullet.in-place-transition
          li
            h3 Heroku/App Engine/Similar
          li
            h3 Azure
          li
            h3 Cloudant
          li
            h3 MongoLab
          li
            h3 GrapheneDB
          li
            h3 TempoDB
      section
        h2 Runtime Components
        ul.bullet.in-place-transition
          li
            h3 Twilio
          li
            h3 Stripe
          li
            h3 Pusher

      section
        h2 IaaS
        ul.bullet
          li
            h3 Amazon web services
          li
            h5 Elastic Compute 2 (EC2)
          li
            h5 Simple Storage Service (S3)
          li
            h5 Route 53
          li
            h5 CloudFront
          li
            h5 Elastic MapReduce
          li
            h5 CloudFormation

      section
        h2 IaaS
        ul.bullet.in-place-transition
          li
            h3 Azure
          li
            h3 Google Compute Engine
          li
            h3 Rackspace
          li
            h3 DigitalOcean

    script(src='build/build.js')
