doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Everything

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cloud Everything
        h3 For Fun And Profit

      section
        h2 Cloud Services
        br
        ul.threeWay
          li
            h3 Software
            abbr SaaS
          li
            h3 Platform
            abbr PaaS
          li
            h3 Infrastructure
            abbr IaaS

    script(src='build/build.js')
