doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Cloud Everything

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Cloud Everything
        h3 For Fun And Profit

      section
        h2 Cloud Services
        br
        ul.threeWay
          li
            h3 Software
            abbr SaaS
          li
            h3 Platform
            abbr PaaS
          li
            h3 Infrastructure
            abbr IaaS

      section
        h2 SaaS
        ul.bullet
          li Code hosting
          li Continuous integration
          li Quality analysis
          li Testing tools
          li Monitoring
          li Development environments
          li Communication
          li Project management

      section
        h2 Code Hosting
        ul.bullet.in-place-transition
          li
            h3 Github
            img(src='images/github.png').screenshot

          li
            h3 Bitbucket
            img(src='images/bitbucket.png').screenshot

      section
        h2 Continuous Integration
        ul.bullet.in-place-transition
          li
            h3 Cloudbees
            img(src='images/cloudbees.png').screenshot

          li
            h3 Travis CI
            img(src='images/travis.png').screenshot

          li
            h3 Wercker
            img(src='images/wercker.png').screenshot

          li
            h3 Snap CI
            img(src='images/snap.png').screenshot


    script(src='build/build.js')
